@font-face {
  font-family: "iconfont"; /* Project id 4457630 */
  src: url('//at.alicdn.com/t/c/font_4457630_5e65xrlmgvn.woff2?t=1709800801474') format('woff2'),
       url('//at.alicdn.com/t/c/font_4457630_5e65xrlmgvn.woff?t=1709800801474') format('woff'),
       url('//at.alicdn.com/t/c/font_4457630_5e65xrlmgvn.ttf?t=1709800801474') format('truetype');
}

.shop-fenxiao-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dasuozi:before {
  content: "\e606";
}
